.Navbar{
    height: 100%;
}
.Navbar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.Navbar li{
    width: 120px;
    height: 50px;
    list-style-type: none;
    text-align: center;
}
.Navbar a{
	padding: 15px 30px;
    color: #888;
    text-transform: uppercase;
    font-weight: 700;
}
.Navbar a:hover{
    color: #007dfe;
}
