{% extends "layout.html" %}

{% block title %}Vacations{% endblock title %}
{% block content %}
<header>
    <div class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-md-2 col-sm-2 coll-xs-3">
                    <a class="btn btn-md btn-outline-dark btn-add" href="{{ url_for('vacations_view.insert') }}"><i
                            class="fa-solid fa-plus"></i> Add Vacation</a>
                </div>
                <div class="col-md-2 col-sm-2 coll-xs-3 offset-md-8 offset-sm-8 offset-xs-6">
                    {% set user = session.get("current_user") %}
                    <div class="user-container">
                        <div class="welcome-user">Welcome: <span class="user-name">{{ user.first_name }} {{
                                user.last_name
                                }}</span></div>
                        <div><a href="{{ url_for('auth_view.logout') }}" class="logout">Logout</a></div>
                    </div>
                    <div class="ico-container"><i class="fa-solid fa-user user-ico"></i></div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid flex-xl-nowrap">
        <div class="row">
            {% for vacation in vacations %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="card" style="width: 26rem;">
                    <a href="{{ url_for('vacations_view.edit', id=vacation.id ) }}"
                        class="btn btn-sm btn-light edit-btn"><i class="fa-solid fa-pen"></i>Edit</a>
                    <button class="btn btn-sm btn-light delete-btn"
                        onclick="deleteVacation(`{{ url_for('vacations_view.delete', id=vacation.id)  }}`)"><i
                            class="fa-solid fa-trash"></i>Delete</button>
                    <span class="card-city">{{ vacation.country }}</span>
                    <img src="{{ url_for('vacations_view.get_image', image_name = (vacation.image if vacation.image else '_')) }}"
                        class="card-img-top" alt="{{ vacation.country }}">
                    <div class="card-head">
                        <i class="fa-solid fa-calendar"></i>
                        {{ vacation.start_date }} - {{ vacation.end_date }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ vacation.description }}</p>
                    </div>
                    <div card="card-footer">
                        <button class="btn btn-lg btn-dark" style="width:100%">
                            ${{ '%.2f'|format(vacation.price) }}
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}