<header class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2 coll-xs-3 offset-md-10 offset-sm-10 offset-xs-9">
            {% set user = session.get("current_user") %}
            <div class="user-container">
                <div class="welcome-user">Welcome: <span class="user-name">{{ user.first_name }} {{ user.last_name }}</span></div>
                <div><a href="{{ url_for('auth_view.logout') }}" class="logout">Logout</a></div>
            </div>
            <div class="ico-container"><i class="fa-solid fa-user user-ico"></i></div>
        </div>
    </div>
</header>